fastapi
gunicorn
uvicorn[standard]
# Include all other dependencies for your models:
pydantic
pandas
numpy
joblib
scikit-learn
tensorflow 
xgboost
python-multipart 
plotly
dash
dash-bootstrap-components
